@import "colors";


/** COLOR DEFININTIONS **/
@light-black:           #191919;

@very-dark-gray:        #252525;
@dark-gray:             #323232;
@light-gray:            #646464;

@silver:                #A2A2A2;
@semi-light-silver:     #AFAFAF;    // [175, 175, 175]
@light-silver:          #BBBBBB;
@very-light-silver:     #C8C8C8;    // [200, 200, 200]

@blue:                  #0000FF;
@green:                 #00FF00;
@magenta:               #FF00FF;
@orchid:                #9632FF;
@red:                   #FF0000;

@very-light-aqua:       #00C8C8;

@very-dark-cyan:        #00D4D4;
@dark-cyan:             #00E1E1;
@semi-dark-cyan:        #00EDED;
@cyan:                  #00FFFF;

@light-deep-blue:       #3296FF;
@deep-blue:             #0064FF;
@vibrant-blue:          #00C8FF;



/** SYNTAX COLOR DEFINITIONS **/
// General colors
@syntax-text-color:                         @vibrant-blue;
@syntax-cursor-color:                       @vibrant-blue;
@syntax-selection-color:                    @silver;
@syntax-background-color:                   @light-black;

// Guide colors
@syntax-wrap-guide-color:                   @very-dark-gray;
@syntax-indent-guide-color:                 @very-dark-gray;
@syntax-invisible-character-color:          @very-dark-gray;

// Find & replace markers
@syntax-result-marker-color:                @deep-blue;
@syntax-result-marker-color-selected:       white;

// Gutter colors
@syntax-gutter-text-color:                  @light-silver;
@syntax-gutter-text-color-folded:           @light-gray;
@syntax-gutter-text-color-selected:         @deep-blue;
@syntax-gutter-background-color:            @dark-gray;
@syntax-gutter-background-color-selected:   @very-dark-gray;

// Git diff info (i.e. in the gutter)
@syntax-color-renamed:                      @blue;
@syntax-color-added:                        @green;
@syntax-color-modified:                     @orange;
@syntax-color-removed:                      @red;

// For language entity colors
@syntax-color-attribute:                    #C6C5FE;
@syntax-color-class:                        @very-light-aqua;
@syntax-color-comment:                      @light-gray;
@syntax-color-constant:                     @magenta;
@syntax-color-function:                     @syntax-text-color;
@syntax-color-import:                       @syntax-color-keyword;
@syntax-color-keyword:                      @light-deep-blue;
@syntax-color-method:                       @syntax-color-function;
@syntax-color-operator:                     @green;
@syntax-color-preprocessor:                 @very-light-silver;
@syntax-color-property:                     @syntax-text-color;
@syntaxt-color-parameter:                   @silver;
@syntax-color-snippet:                      @syntax-color-constant;
@syntax-color-string:                       @orchid;
@syntax-color-tag:                          #96CBFE;
@syntax-color-value:                        #F9EE98;
@syntax-color-variable:                     #C6C5FE;
